
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../Home/Logado" class="navbar-brand">Voltar</a>
        </div>
        <br />
        <table align="right">
            <tr>
                <td><font color="White" face="arial" size="3">@DateTime.Now.DayOfWeek - @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year  @DateTime.Now.Hour : @DateTime.Now.Minute Hrs</font></td>
            </tr>
        </table>
        @*Relogio da Pagina*@
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
<h2><font color="red">Erro ao Cadastrar a Sessão</font></h2>

<br />
<font face="arial" size="3">* O Filme deve está vinculado a uma outra sessão do Mesmo dia e do Mesmo Horário;</font><br />
<font face="arial" size="3">* Ou a sala deve está vinculada a uma outra sessão do Mesmo dia e do Mesmo Horário.</font><br />

<br />
<center><img src="~/Imagem/365-Filmes-Banner-Blog-Dia-dos-Namorados.jpg" width="650px" height="280px" /></center>



